@model List<SuperComplicatedSystem.Models.PC>


@for (int i = 0; i < Model.Count; i++)
{
    <div class="@i PC">
        <div class="@i name">
            <span class="@i">@Model[i].name </span>
        </div>
        @foreach (var component in Model[i].components)
        {
            <div class="@i type">
                <span class="@i">@component.Type</span>
            </div>
            <div class="@i model">
                <span class="@i">@component.Model</span>
            </div>
        }
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/test")
}